
.wp-block-beech-article-text > .wp-block-beech-article-text { padding: 0; }

.article-text__inner {
    padding-inline: var(--gutter);
}

.article-text__inner-blocks {
    grid-column: span 6;
}

.article-text__inner .article-meta {
    color: var(--wp--preset--color--mid-gray);
}
.article-meta {
    display: flex;
    gap: 2rem;
}
.article-meta a {
    color: inherit;
    text-decoration: none;
}

.article-meta .date {
    letter-spacing: 0.1rem;
}

.wp-block-beech-article-text {
    padding-block: var(--block-space);
}

.article-text__aside .article-quote {
    max-width: 16rem;
}


.wp-block-beech-article-text .wp-block-image {
    margin-block: 0 2rem;
}
.wp-block-beech-article-text ol ul,
.wp-block-beech-article-text ul ul,
.wp-block-beech-article-text ol ol {
    margin-block: 0.75rem 0;
}

.single-project .wp-block-beech-article-text .article-text__inner-blocks {
    grid-column: 7 / 12;
}

/* TODO: Make this mobile */
.single-post header + .wp-block-beech-article-text .article-text__inner-blocks p:first-child { 
    font-size: var(--wp--preset--font-size--x-large); 
    margin-bottom: 3rem;
    line-height: 1.3;
}

.single-post .wp-block-beech-article-text figure.wp-block-image.size-full {
    margin-left: calc(  -100% / 12 * 2  );
}
.article-text__aside.toc {
    position: relative;
}
.article-text__aside aside.single-sidebar {
    position: sticky;
    top: 3rem;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.wp-block-beech-article-text h2 {
    font-size: var(--wp--preset--font-size--x-large);
    margin-top: 4rem;
}
.wp-block-beech-article-text h3 {
    font-size: var(--wp--preset--font-size--large);
    margin-top: 2rem;
}
.wp-block-beech-article-text h4 {
    font-size: var(--wp--preset--font-size--medium);
    font-weight: bold;
    margin-top: 2rem;
}
.wp-block-beech-article-text h5 {
    font-size: var(--wp--preset--font-size--medium);
    margin-top: 3rem;
}
.wp-block-beech-article-text h6 {
    font-size: var(--wp--preset--font-size--small);
}

/* End: Todo */

.wp-block-beech-article-text + .wp-block-beech-article-text { padding-top: 0; }
.wp-block-beech-article-text:has( + .wp-block-beech-article-text) { padding-bottom: 0; }

.wp-block-beech-header + .wp-block-beech-article-text { padding-top: 0; }

.wp-block-beech-article-text ol, 
.wp-block-beech-article-text ul {
    margin-block: 0 1.5rem;
}
.wp-block-beech-article-text li:not(:last-child) {
    margin-bottom: 0.75rem;
}
.wp-block-beech-article-text .wp-block-heading {
    margin-bottom: 1.5rem;
}


@media screen and (max-width: 1280px) { 
    .is-style-article .header__inner-blocks {
        grid-column: span 12;
    }
}

@media screen and (max-width: 1024px) {
    body:not(.single-post) .article-text__inner[data-xy*='grid'] { display: block; }

    .article-text__inner-blocks {
        max-width: 42rem;
    }
    .single-post .article-text__inner-blocks {
        grid-column: span 8;
    }
    .single-post .entry-footer .article-meta {
        grid-column-start: 5;
    }
    .article-text__inner .article-meta {
        flex-direction: column;
        gap: 0.5rem;
    }
    .single-post .wp-block-beech-article-text figure.wp-block-image.size-full {
        margin-left: auto;
    }
}
@media screen and (max-width: 768px) {
    .single-post .entry-footer .article-meta {
        grid-column: span 12;
    }

    .single-post .article-text__aside {
        --start : 2;
        --col: 10;
    }
    .single-post .article-text__inner-blocks {
        grid-column: 2 / 12;
    }

    .article-text__aside.toc { display: none; }

    .is-style-article-image .has-bg-image .header__inner-wrap > * {
        padding-block: 2rem;
        grid-column: 2 / 11;
    }
    .is-style-article-image .has-bg-image .header__inner-wrap {
        min-height: 26rem;
    }
}
@media screen and (max-width: 480px) {
    .article-text__inner .article-meta {
        flex-direction: row;
        gap: 1rem;
    }

    .single-post .article-text__inner-blocks {
        grid-column: span 12;
    }

    .single-post .article-text__aside {
        --start : 1;
        --col: 13;
    }

    .is-style-article-image.wp-block-beech-header .header__inner {
        padding-inline: 0;
    }
    .is-style-article-image .has-bg-image .header__inner-wrap {
        padding-inline: var(--gutter);
    }
    .is-style-article-image .has-bg-image .header__inner-wrap > * {
        grid-column: span 12;
    }
    .wp-block-beech-header .author-profile__inner {
        margin-bottom: 2rem;
    }
}